@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: #222;
}

#board {
  display: grid;
  grid-template-columns: repeat(9, 24px);
  grid-template-rows: repeat(9, 1fr);
  width: 100%;
}

.cell {
  border: 1px solid rgb(255, 1, 1);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  height: 24px;
  width: 24px;
}

.mine {
  background-color: rgb(205, 255, 6);
}

.revealed {
  background-color: rgb(0, 0, 255);
}

.flagged {
  background-image: url("./assets/flag.svg");
  background-size: cover;
}
