*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: #222;
}

#board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: repeat(9, 1fr);
  width: 450px;
}

.cell {
  border: 1px solid red;
  color: white;
  font-size: 1.5rem;
  height: 50px;
  width: 50px;
}

.mine {
  background-color: purple;
}

.revealed {
  background-color: blue;
}
