@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  background-color: #222;
}

/* .mine {
  background-color: rgb(205, 255, 6);
} */

.revealed {
  background-color: rgb(0, 0, 255);
}

.flagged {
  background-image: url("./assets/flag.svg");
  background-size: cover;
}
